<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Ingredient check - Recipe app</title>
        <link href="{% static 'css/general_list.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <p class="js-alert">
            This site needs JavaScript to run properly. (Try refreshing and enable JavaScript 
            in your browser)
        </p>
        <form id="search-ingredient-form">
            <input type="text" class="searching-ingredient" id="search-ingredient-input">
            <p id="search-ingredient__error"></p>
            <p>
                Write every ingredient you would like to add to 
                your recipe (separate them with comma and space ", ")
            </p>
            <button class="search-button">Check ingredients</button>
        </form>

        <div class="create-ingredients hidden" >
            <p>
                If the ingredient is colored red, you have to add it to the database 
                using the form under the ingredient list.
            </p>
            <div id="check-all-ingredients">
            </div>
        </div>
        
        <form 
            id="recipe-form"
            action="" 
            method="POST" 
            class="hidden"  
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input name="ingredient_name_inputs" required id="id_name_inputs"/>
            <div id="add-ingredient__form">

            </div>
            <div id="ingredient-error">
                <p id="create-ingredient__error"></p>
            </div>
            <div id="create-recipe__form">
                <label for="name">Recipe name: </label>
                {{rec_form.name}}<br>
                <p id="recipe-name__error" class="error-message"></p>
                <label for="cooking_time">Cooking Time: </label>
                {{rec_form.cooking_time}}<br>
                <p id="recipe-cooking-time__error" class="error-message"></p>
                <label for="recipe_directions">Description: </label>
                {{rec_form.recipe_directions}}<br>
                <label for="pic">Picture: </label>
                {{rec_form.pic}}<br>
            </div>
            <button type="submit" id="create-recipe__button">Create recipe</button>
        </form>
        <p class="check-ingredient-list">
            {% for ingredient in all_ingredients%}
                {% if not forloop.last %}
                {{ingredient.name}}, 
                {% else %}
                {{ingredient.name}}
                {% endif %}
            {% endfor %}
        </p>
        <script src="{% static 'js/create_recipe.js' %}"></script>
    </body>
</html>