<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Ingredient check - Recipe app</title>
        <link href="{% static 'css/general_list.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <p class="js-alert">
            This site needs JavaScript to run properly. (Try refreshing and enable JavaScript 
            in your browser)
        </p>
        <form id="search-ingredient-form">
            <input type="text" class="searching-ingredient" id="search-ingredient-input">
            <p id="search-ingredient__error"></p>
            <p>
                Write every ingredient you would like to add to 
                your recipe (separate them with comma and space ", ")
            </p>
            <button class="search-button">Check ingredients</button>
        </form>

        <div class="create-ingredients hidden" >
            <p>
                If the ingredient is colored red, you have to add it to the database 
                using the form under the ingredient list.
            </p>
            <div id="check-all-ingredients">
            </div>
            <form id="ingredient-form">
                <label for="name">Name: <span id="ingredient-name"></span></label>
                {{ingr_form.name}}<br>
                <label for="price">Price: </label>
                {{ingr_form.price}}$   
                <p id="create-ingredient__error"></p>
                <label for="ingredient_unit_type">Type: </label>
                {{ingr_form.ingredient_unit_type}}<br>
                <button id="ingredient-form__button">Save ingredient</button>
            </form>
        </div>
        
        <form 
            id="add-ingredients" 
            action="" 
            method="POST" 
            class="hidden"  
            enctype="multipart/form-data" 
            novalidate
        >
            {% csrf_token %}
            <textarea name="ingredient_inputs" cols="40" rows="5" required id="id_inputs"></textarea>
        </form>
            <p class="check-ingredient-list">
                {% for ingredient in all_ingredients%}
                    {% if not forloop.last %}
                    {{ingredient.name}}, 
                    {% else %}
                    {{ingredient.name}}
                    {% endif %}
                {% endfor %}
            </p>
        
        <form 
            id="recipe-form"
            action="" 
            method="POST" 
            class="hidden"  
            enctype="multipart/form-data"
        >
            <label for="name">Name: </label>
            {{rec_form.name}}<br>
            <label for="cooking_time">Cooking Time: </label>
            {{rec_form.cooking_time}}<br>
            <label for="ingredients" id="ingredients-label">Ingredients: </label><br>
            {{rec_form.ingredients}}
            <label for="recipe_directions">Description: </label>
            {{rec_form.recipe_directions}}<br>
            <label for="pic">Picture: </label>
            {{rec_form.pic}}<br>
            <button type="submit">Create recipe</button>
        </form>
        <script src="{% static 'js/create_recipe.js' %}"></script>
    </body>
</html>