<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Recipe List - Recipe App</title><meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" contect="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/media/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/general_pages_settings.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/general_list.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body> 
        <header>
            <div class="header-content">
                <div class="header__logo--name">
                    <a href="{% url 'recipes:home' %}">
                        <img 
                            src="/media/app-icon.png" 
                            rel="app icon" 
                            class="header-icon"
                        >
                    </a>
                    <a href="{% url 'recipes:home' %}">
                        <h3>Recipe app</h3>
                    </a>
                </div>
                <div class="desktop header-menu">
                    <div class="header-menu__item">
                        <a 
                            href="{% url 'recipes:recipe_list' %}" 
                            class="active"
                        >
                            Recipes
                        </a>
                        <a href="{% url 'ingredients:ingredient_list' %}">Ingredients</a>
                    </div>
                    <div class="header-menu__item">
                        {% if user.is_authenticated %}
                            <a href="{{profile_url}}">Profile</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                    <a href="{% url 'recipes:search' %}" class="header-menu__item">
                        <img 
                            src="/media/Diagram.png" 
                            class="diagram"
                        >
                    </a>
                </div>
                <!-- mobile view -->
                <div class="mobile header-mobile">
                    <div id="myLinks">
                        <a 
                            href="{% url 'recipes:recipe_list' %}" 
                            class="active"
                        >
                            Recipes
                        </a>
                        <a href="{% url 'ingredients:ingredient_list' %}">Ingredients</a>
                        {% if user.is_authenticated %}
                            <a href="{{profile_url}}">Profile</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                        <a href="{% url 'recipes:search' %}" class="header-menu__item">
                            <img 
                                src="/media/Diagram.png" 
                                class="diagram"
                            >
                        </a>
                    </div>
                    <!-- Hamburger menu to toggle the navigation links -->
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                      <i class="fa fa-bars"></i>
                    </a>
                  </div>
            </div>  
        </header>
        <div class="main__list">
            <h1>Recipes</h1>
            {% if user.is_authenticated %}
                <a href="{%url 'recipes:create_recipe' %}">Add a new recipe</a>
            {% endif %}
            <div class="searchbar-container">
                <img src="/media/magnifying_glass.png" class="magnifying-glass">
                <input class="searchbar" onchange="getSearchedElement()">
            </div>
            <div class="grid-container">
                        {% for object in object_list %}
                            <div class="grid-item">
                                <a 
                                    href="{{object.get_absolute_url}}" 
                                    class="grid-title"
                                >
                                    <img src="{{object.pic.url}}" class="recipe-image">
                                    <p class="grid-name">{{object.name}}</p>
                                </a>
                            </div>
                        {% endfor %}
            </div>
        </div>
        <footer>
            <div>
                <p class="footer-text">Find me on:</p>
                <div>
                    <a href="https://github.com/Darkpfeffer" target="_blank" rel="Github link" class="footer-link">
                        <img src="/media/github.svg" class="link-logo">
                    </a>
                    <a 
                        href="https://www.linkedin.com/in/zoltan-borsos/" target="_blank" 
                        rel="LinkedIn link" class="footer-link"
                    >
                        <img src="/media/linkedin.svg" class="link-logo">
                    </a>
                    <a 
                        href="https://darkpfeffer.github.io/portfolio-website/" target="_blank" 
                        rel="LinkedIn link" class="footer-link" id="portfolio-logo"
                    >
                        <img src="/media/Portfolio-logo.svg" class="link-logo" >
                    </a>
                </div>
            </div>
        </footer>
        <script src="{% static 'js/general.js' %}"></script>
    </body>
</html>
