.recipe-image {
    width: 15em;
    height: 12em;
}

.main__list {
    margin-top: 6em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.searchbar-container {
    display: inherit;
    border: 1px solid black;
    padding: 0px;
    float: right;
    height: 1.5em;
    width: 20em;
    background-color: white;
    margin-right: 1em;
}

.searchbar {
    border: none;
    height: auto;
    width: 85%;
    margin: 0;
    margin-bottom: 0.5em;
}

.magnifying-glass {
    width: 1em;
    height: 1em;
    margin: 0.3em;
    margin-bottom: auto;
    padding: 0;
}



/* Grid start */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin-top: 3em;
    filter: drop-shadow(0 0 3em #d42b2b)
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.grid-title, .grid-title:visited {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

/* Grid end */

/* Searching */
.hidden {
    display: none;
}

.existing {
    color: green;
}

.missing {
    color: red;
}

@media all and (min-width: 1920px) {
    .main__list {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 970px) {
    .main__list {
        width: 98vw;
    }
}

@media all and (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 480px) {
    .searchbar {
        height: 1em;
        width: 85%;
    }
    
    .searchbar-container {
        width: 15em;
    }
}