.homepage-content {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}

.homepage-search {
    display: inherit;
    flex-direction: column;
    background-image: url("../../media/welcome_search_background.JPG");
    background-repeat: no-repeat;
    background-size: 49vw 30vw;
    height: 20vw;
    width: 49vw;
    justify-content: center;
    align-items: center;
}

.homepage-searchbar {
    border: none;
    width: 30vw;
}

@media all and (width > 1920px) {
    .homepage-search {
        background-size: 941px 576px;
        height: 384px;
        width: 941px;
    }

    .homepage-searchbar {
        border: none;
        width: 573px;
    }
}

@media all and (width < 790px) {
    .homepage-search {
        background-size: 98vw 60vw;
        height: 40vw;
        width: 98vw;
    }

    .homepage-searchbar {
        width: 60vw;
    }
}