<!DOCTYPE html>
<html>
    <head>
        <title>Recipe List - Recipe App</title><meta charset="UTF-8">
        <meta name="viewport" contect="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../../media/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="../../static/css/general_pages_settings.css" type="text/css" rel="stylesheet">
        <link href="../../static/css/recipes_list.css" type="text/css" rel="stylesheet">
    </head>
    <body> 
        <h1>Ingredients' list</h1>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Ingredient's name</td>
                <td>Ingredient's image</td>   
                {% for object in object_list %}
                    <tr>
                        <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
                        <td><img src="{{object.pic.url}}" class="recipe-image"></td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>