<!DOCTYPE html>
<html>
    <head>
        <title>{{object.name}} Detail - Recipe App</title>
        <link rel="icon" type="image/x-icon" href="../../../media/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="../../../static/css/general_pages_settings.css" type="text/css" rel="stylesheet">
        <link href="../../../static/css/recipes_detail.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h2>Details: {{object.name}}</h2>
        <img src="{{object.pic.url}}" class="recipe-pic__detail"><br>
        <b>Name: </b> {{object.name}}<br>
        <b>Cooking time: </b> {{object.cooking_time}} <span> minutes</span><br>
        <b>Difficulty: </b> {{object.difficulty}} <br>
        <b>Creator: </b>{{object.creator_id.username}}<br>
        <b>Ingredients: </b><br>        
        {% for ingredient in object.ingredients.all %}
            <b>- </b><a 
                href="/ingredients/list/{{ingredient.id}}"
                >
                    {{ingredient.name}}
                </a><br>
        {% endfor %}
        <br>
        <b>Directions: </b><br>
        {{object.recipe_directions}}<br>
    </body>
</html>