<!DOCTYPE html>
<html>
    <head>
        <title>Recipe app - Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" contect="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../../media/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="static/css/general_pages_settings.css" type="text/css" rel="stylesheet">
        <link href="static/css/recipes_home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-content">
                <a href="">
                    <img 
                        src="media/app-icon.png" 
                        rel="app icon" 
                        class="header-icon"
                    >
                </a>
                <h3>Recipe app</h3>
                <div class="searchbar-container header-searchbar">
                    <img 
                        src="media/magnifying_glass.png" 
                        class="magnifying-glass"
                    >
                    <input 
                        id="header-input"
                        class="searchbar"
                        placeholder="Search for a recipe or ingredient"
                    > 
                </div>
            </div>  
        </header>
        <div class="homepage-content">
            <div class="homepage-search"> 
                <div class="searchbar-container">
                    <img src="media/magnifying_glass.png" class="magnifying-glass">
                    <input 
                        id="homepage-input"
                        class="searchbar homepage-searchbar" 
                        placeholder="Search for a recipe or ingredient"
                    >
                </div>
            </div>
            <div>

            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>