<!DOCTYPE html>
<html>
    <body>
        <h3>Search for recipes or ingredients</h3>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Search</button>
        </form>
        <p>Leave the input field empty to search all objects.</p>
        <br>
        {% if search_df %}
            {{search_df|safe}}
            <br>
            <img src="data:image/png;base64, {{chart|safe}}">
        {% else %}
            <h3> no data</h3>
        {% endif %}
    </body>
</html>